
  @media screen and (max-width: 758px)  {
    .navbar-container li:not(:nth-child(2)) {
        display: block;
        float: none;
        text-align: center;
    }
    .mobile-menu__icon {
        display: inline-block;
        height: 35px;
        fill: #fff !important;
        margin: 8px;
        cursor: pointer;
    }
    .navbar-container li:nth-child(2) {
        display: inline-block;
        float: right;
    }
  }